{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="body" class="blog">
        <div>
            <ul>
                {% for event in object_list %}
                    <li>
                        <span class="bg-top"></span>
                        <a href="{% url 'details event' event.slug %}">
                            {% if event.image %}
                                <div class="image-container">
                                    <img src="{{ event.image.url }}" alt="{{ event.name }}">
                                </div>
                            {% else %}
                                <div class="image-container">
                                    <img src="{% static 'images/Image_not_available.png' %}" alt="{{ event.name }}">
                                </div>
                                </a>
                            {% endif %}
                        <div>
                            <h3><a href="{% url 'details event' event.slug %}">{{ event.name }}</a></h3>
                            <p>
                                {{ event.description|truncatechars:51 }}
                            </p>
                            <div>
                                <span>{{ event.start_date_time }} by {{ event.organizer.name }}</span>

                                <span>Total Views: {{ event.total_views }}</span>

                            </div>
                        </div>
                        <span class="bg-bottom"></span> <span class="triangle"></span>
                    </li>
                {% empty %}
                    <div class="center-content">
{#                    <h1>No events in your Dashboard!</h1>#}
                        <img src="{% static 'images/no_image_location.png' %}" alt="#">
                </div>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}