{% extends 'base.html' %}
{% block content %}
    <h1>{{ event.name }}</h1>
    <p>Start Date/Time: {{ event.start_date_time }}</p>
    <p>End Date/Time: {{ event.end_date_time }}</p>
    <p>Description: {{ event.description }}</p>

    {% if event.image %}
        <img src="{{ event.image.url }}" alt="{{ event.name }}">
    {% endif %}

    <p>Location: {{ event.location }}</p>
    <p>Organizer: {{ event.organizer.name }}</p>

    {% if request.user.profile_type == 'normal' %}
        <button class='btn-register' type="button"><a href="{% url 'register event' event.slug %}">Register </a>
        </button>
    {% endif %}

    {% if is_organizer %}
        {#        <a href="{% url 'edit event' event.slug %}">Edit Event</a>#}
        <a href="{% url 'delete event' event.slug %}">Delete Event</a>
    {% endif %}
{% endblock %}