{% extends 'base.html' %}
{% block content %}
    <div id="body" class="event-info">
        <div class="event-details">
            <h1>{{ event.name }}</h1>
            <p>Start Date/Time: {{ event.start_date_time }}</p>
            <p>End Date/Time: {{ event.end_date_time }}</p>
            <p>Description: {{ event.description }}</p>

            {% if event.image %}
                <div class="event-image">
                    <img src="{{ event.image.url }}" alt="{{ event.name }}">
                </div>
            {% endif %}

            <p>Location: {{ event.location }}</p>
            <p>Organizer: {{ event.organizer.name }}</p>


            {% if request.user.profile_type == 'normal' or not request.user.is_authenticated %}
                {% if not user_registered %}
                    <form action="{% url 'register event' event.slug %}">
                        <button class="btn-register register-btn" type="submit">Register</button>
                    </form>
                {% endif %}
            {% endif %}

            {% if request.user.is_authenticated %}
                {% if request.user.profile_type == 'normal' and user_registered %}
                    <form action="{% url 'unregister_event' event.slug %}" method="post">
                        {% csrf_token %}
                        <button class="btn-register" type="submit">Unregister</button>
                    </form>
                {% endif %}
            {% endif %}

            {% if is_organizer %}
                <div class="organizer-buttons">
                <form action="{% url 'edit event' event.slug %}">
                    <button class="edit-btn" type="submit">
                        Edit Event
                    </button>
                </form>

                <form action="{% url 'delete event' event.slug %}">
                    <button class="delete-btn" type="submit">
                        Delete Event
                    </button>
                </form>
            {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

