{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div id="body" class="subdivisions">
        <ul>
            {% for event in object_list %}
                <li>
                    <div>
                        <h3><a href="{% url 'details event' event.slug %}">{{ event.name }}</a></h3>
                        <p>
                            <b>Description: </b>{{ event.description }}
                        </p>
                        <p><b>Start time: </b>{{ event.start_date_time }}</p>
                        <p><b>End time: </b>{{ event.end_date_time }}</p>
                    </div>

                    <a href="{% url 'details event' event.slug %}">
                        {% if event.image %}
                            <img src="{{ event.image.url }}" alt="{{ event.image }}" class="cropped-image1">
                        {% else %}
                            <img src="{% static 'images/Image_not_available.png' %}" alt="{{ event.name }}" class="cropped-image1">
                        {% endif %}
                    </a>
                </li>
            {% empty %}
                <div class="center-content">
{#                    <h1>No events in your Dashboard!</h1>#}
                        <img src="{% static 'images/no-events.png' %}" alt="#">
                </div>
            {% endfor %}
            <p></p>
        </ul>
    </div>

{% endblock %}
