{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Event Management System{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>

<div id="header">
    <div>
        <a href="{% url 'locations' %}" id="logo"><img src="{% static 'images/emo (4).png' %}" alt="logo"></a>
        <ul>
            <li class="selected">
                <a href="{% url 'locations' %}">Events</a>
            </li>

            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                {% if request.user|user_belongs_to_group:'Staff_EMS' or request.user|user_belongs_to_group:'Superusers_EMS' %}
                    <li>
                        <a href="{% url 'location create' %}">Add Location</a>
                    </li>
                {% endif %}
                {% if request.user.profile_type == 'organizer' %}
                    <li>
                        <a href="{% url 'create event' %}">Add Event</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'profile_details' user.pk %}">Profile</a>
                </li>
                <li>
                    <a href="{% url 'logout_user' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login_user' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% block content %}
{% endblock %}

<div id="footer">
    <div>
        <p>
            &#169; 2023 Emiliyan Borisov. All Rights Reserved.
        </p>
        <div class="connect">
            <a href="https://www.facebook.com/emilian.borisow/" id="googleplus">google+</a>
            <a href="https://www.instagram.com/emiliyanbrsv/" id="contact">contact</a>
            <a href="https://github.com/Emiliyanbrsv" id="facebook">facebook</a>
            <a href="https://www.linkedin.com/in/emiliyan-borisov-1668bb23a/" id="twitter">twitter</a>
        </div>
    </div>
</div>

</body>
</html>